.info-card {
    margin: 10px;
    width: calc(100% - 20px);

    display: block;
    position: relative;
}

.info-panel-paper {
    width: 400px;
}

@media (max-width: 700px) {
    .toolbar-padding {
        height: 90px;
    }

    .info-panel-paper {
        width: 100%;
    }
}

