.control-bar {
	padding: 0 20px;
}

.control-bar .spacer {
	flex-grow: 1;
}

.control-bar .equation-container {
	display: flex;
	overflow: hidden;

	width: 75%;
}

.control-bar .options {
	white-space: nowrap;
	display: inline-block;
}

/***** Media Queries *****/
@media (max-width: 850px) {
	.control-bar {
		padding: 0 10px;
	}
}

@media (max-width: 600px) {
	.control-bar {
		padding: 0;
	}
}
