.control-bar .spacer {
	flex-grow: 1;
}

.control-bar .equation-container {
	display: flex;
	overflow: hidden;

	width: 75%;
}

.control-bar .options {
	flex-grow: 1;

	white-space: nowrap;
	display: inline-block;
}
