.main-equation {
	font-size: 32px;
	display: inline-block;

	white-space: nowrap;
	margin: 8px auto;
}

.equation-term {
	margin-left: 10px;
	cursor: ew-resize;
}
.equation-term.faded {
	color: #CCC;
}

/***** Media Queries *****/

@media (max-width: 850px) {
	.main-equation {
		font-size: 24px;
	}

	.equation-term {
		margin-left: 8px;
	}
}

@media (max-width: 700px) {
	.mobile-break {
		display: block;
	}
}
